#Este archivo funciona solo como referencia y se puede usar como plantilla para la configuración
#de las variables de entorno.

TENANT_ID = tenant_id
CLIENT_ID = client_id
CLIENT_SECRET = client_secret
USUARIO = correo@empresa.com
PASSWORD = password_corporativo
NOMBRE_HOJA = Sheet_name 